@model Final1_Colegio.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promedy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promedy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNote }) |
    @Html.ActionLink("Back to List", "Index")
</p>
